body{
	background-color: #eee;
}

.menu{
	display: block;
	height: 90px;
	width: 100%;
}

.menu ul a{
	color: #333;
	font-weight: bold;
	font-style: uppercase;
	height: 100%;
}

.menu ul a:hover{
	background-color: #ccc;
}

.header{
	float: left;
	background-color: lightgray;
	padding: 5px 0 5px 110px;
	width: 20%;
}

.list{
	background-color: lightgray;
	padding: 20px 0 0 10px;
	height: 90px;
	width: 80%
}

.linkLogo{
	padding: 5px 5px;
	margin-bottom: 5px;
}

.logo{
	width: 80px;
	height: 80px;
}

.categList li{
	list-style: none;
}

.categList a{
	text-decoration: none;
	color: #000;
}

.categList a:hover{
	color: #333;
	font-weight: bolder;
}

.shopList{
	display: block;
	margin-top: 30px;
	width: 60%;
}

.prod-box{
	min-height: 200px;
	position: relative;
	padding: 0;
	border: 1px solid;
	border-style: groove;
	border-radius: 5px;
}

.prod-box *{
	margin: 0 calc(100% - 167px);
	text-align: center;
}

.prod-box img{
	height: 108px;
}

.btnAdd{
	bottom: 0;
	position: absolute;
	width: 90%;
	margin: 10px;
	border-radius: 7px;
	color: #ddd;
	background: #71625B;
	background: -moz-linear-gradient(top,  #71625B 0%, #726358 36%, #71625B 100%);
	background: -webkit-linear-gradient(top,  #71625B 0%,#726358 36%,#71625B 100%); 
	background: linear-gradient(to bottom,  #71625B 0%,#726358 36%,#71625B 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71625B', endColorstr='#71625B',GradientType=0 );


}

.btnAdd:hover{
	color: #777;
	background: #e2e2e2;
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); 
	background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); 

}

.shopCart{
	position: absolute;
	right: 20%;
	top: 100px;
	background-color: #71625B;
	border-radius: 60px;
}

.shopCart img{
	width: 50px;
	height: 50px;
}

.shopCart span{
	color: #fff;
	line-height: 15px;
	padding: 0 0 0 4px; 
	font-weight: bold;
	font-size: 10px;
	background-color: red;
	position: absolute;
	width: 15px;
	height: 15px;
	right: 0px;
	bottom: -5px;
	border-radius: 20px;
	display: none;
}

#price{
	position: absolute;
	font-weight: bolder;
	right: 110px;
	top: 110px;
}